.navigation {
  text-align: right;
  width: 100%;
  padding-left: 20px;

}

.heading-menu{
  margin: 0px 30px 30px 0px;
  background-color: beige;
}

.heading-menu a {
  color: red;
  margin: 0px 10px;
  text-decoration: none;
  line-height: 60px;

}

label {
  margin: 0 10px 0 0;
  line-height: 60px;
  display: none;
}

#mobile-menu {
  display: none;
}

.Order-Section {
  max-width: 1400px;
  margin: 40px auto 0 auto;
  background-color: beige;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 0;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding: 10 10 10 10;
  box-shadow: 5px 10px;
  font-family: 'Hi Melody', cursive;

}



.Order-Section h2 {
  font-family: 'Hi Melody', cursive;
  font-size: 35px;
  padding-right: 15px;
  padding-left: 15px;
}

.Contact-Section{
  background-color: beige;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding-bottom: 40px;
  margin:auto;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.Contact-Section li {
  margin-right: 30px;
  font-size: 50px;
}


.toppings{
  display: flex;
  flex-flow: wrap;
  order: 2;
  color: blue;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: stretch;
  padding-bottom: 10px;
  font-size: 20px;


}

.Delivery-Instructions {
  display: flex;
  flex-flow: wrap;
  order: 4;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: stretch;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;

}
.pizza-type{
  display: flex;
  flex-flow: wrap;
  order: 1;
  box-sizing: border-box;
  color: red;
  background-size: 100%;
  align-items: stretch;
  padding-bottom: 10px;
  font-size: 20px;

}

.Delivery-Option{
  display: flex;
  flex-flow: wrap;
  order: 3;
  color: green;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
  align-items: stretch;
  padding-bottom: 10px;
}



.Heading {
  background-image: url(pizza.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: 700px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;

}

.banner-text {
  color: white;
  font-family: 'Hi Melody', cursive;
  font-size: 90px;
  padding-left: 40px;

}

.submit-section {
  display: flex;
  margin: 20px auto;

}

.submit-button {
  color: blue;
  font-size: 30px;
  font-family: 'Hi Melody', cursive;
  margin-bottom: 20px;
}




body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html{
  box-sizing: border-box;
}


.cover {
  background-image: url(background.gif);
  background-size: cover;
  display: flex;
  flex-flow: row wrap;

}



@media only screen and (max-width: 500px) {
  label{
    cursor: pointer;
    display: block;

  }
  .heading-menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .heading-menu a {
    display: flex;
  }

  #mobile-menu:checked + .heading-menu {
    display: block;
    background-color: beige;
  }
}


a:hover{
  transition: 0.5s all;
  background-color: #c2c8e8;
}

button:hover {
  background-color: #c2c8e8;
}
