.Heading {
  float: left;
  background-image: url( banner.png);
  background-blend-mode: darken;
  width: 900px;

}
.mainContainer {
  min-width: 300px;

}
#website_Name{
  font-size: 70;
  font-family: cursive;
  font-weight: 400;
}
